* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.app {
    display: flex;
}

aside {
    background-color: #292929;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
    transition: 1s;
}


main {
    background-color: #F7F7F7;
    width: 100%;
    border-radius: 50px 0px 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

body {
    background-color: #292929;
}

.nav ul li {
    color: #8b8b8b;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav ul li span {
    margin-left: 14px;
    font-size: 12px;
}

.nav ul {
    padding: 0px;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-user {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #454545;
    margin: 15px 0px;
    padding: 20px;
    color: #757575;
}

.icon-aside {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    background-color: #454545;
    margin: 15px 0px;
}

.icon-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    min-width: 30px;
    min-height: 30px;
    background-color: #6DAA9C;
    margin: 15px 0px;
    color: #292929;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
}

.logo>* {
    margin: 10px;
}

.logo>h4 {
    color: #fff;
}

.user {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-name {
    color: #fff;
    font-size: 15px;
    min-width: 130px ;
}

.user-desc {
    color: #757575;
    font-size: 12px;
}

.user>div {
    margin: 5px;
}

.result-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.result-content {
    width: 100%;
    padding: 0px 20px;
}



.result-card {
    display: flex;
}

.result-card-two {
    display: flex;
    justify-content: space-between;
}

.result-card-two>div {
    display: flex;
    margin: 10px 20px;
    border: 1px solid #2929291f;
    border-radius: 15px;
    width: 100%;
    height: 100px;
}


.result-content>h5 {
    margin: 0px 20px;
}

.details-view {
    display: flex;
}

.details-view h5 {
    padding-top: 20px;
    padding-left: 20px;
}

.details-view>div {
    background-color: #ffffff;
    width: 100%;
    margin: 10px 20px;
    border: 1px solid #2929291f;
    border-radius: 15px;
    height: 250px;
    overflow: auto;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-top>div {
    margin: 0px 20px;
}

.nav-top>div>a {
    text-decoration: none;
    color: #45454541;
    margin-right: 12px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #45454541;
    background-color: #fff;
    padding: 8px;
    border-radius: 40px;
    border: 1px solid #2929291f;
    width: 220px;
}

.search input {
    border: none;
    background-color: transparent;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.icon-result {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin: 15px 0px;
}

.green-icon {
    background-color: #a1d3c617;
    color: rgb(109, 170, 156);
}

.progress-bar {
    margin-bottom: 10px;
}

.bar {
    width: 100%;
    height: 8px;
    border-radius: 50px;
    background-color: #F7F7F7;
    margin-top: 10px;
}

.progress {
    width: 0%;
    height: 8px;
    animation: progress 1s;
}

@keyframes progress {
    from {
        width: 0;
    }
}

.bar-green {
    background-color: rgb(109, 170, 156);
    border-radius: 50px;
}

.result-card-main {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 20px;
    border: 1px solid #2929291f;
    border-radius: 15px;
    width: 100%;
    height: 140px;
    padding: 10px 30px;
}

.result-card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result-card-info-title h5 {
    font-size: 18px;
}

.result-card-info-title small {
    font-size: 12px;
    color: #292929c2
}

.table {
    padding: 20px;
}

.table table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}


.table tr {
    border-bottom: 1px solid #2929291f;
}

tbody tr td {
    padding: 8px;
}

thead tr td {
    padding: 8px;
}


tbody tr:hover {
    background-color: #F7F7F7;
}

.icon-card-two {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width:60px;
    height: 60px;
    background-color: #454545b6;
    margin: 15px 0px;
    padding: 20px;
    color: #757575;
    font-size: 25px;
}

.object-name {
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.object-desc {
    color: #ffffff;
    font-size: 12px;
}


.result-card-two-content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.result-card-two-content a{
    text-emphasis: none;
    color: #ffffff;
}

.bg-black {
    background-color: #4d4d4d;
}

.bg-red {
    background-color: #FF6A64;
}

.bg-green {
    background-color: #4CAA98;
}
.menu-btn{
    display: none;
}
.menu-btn-close{
    display: none;
}
@media (max-width: 1000px) {
    main{
        border-radius: 0px;
    }
    aside{
        position: fixed;
        z-index: 999;
        overflow: hidden;
        width: 0;
    }
    .back-front-arrow{
        display: none;
    }
    .menu-btn{
        display: block;
        font-size: 18px;
        cursor: pointer;
    }
    .menu-btn-close{
        position: absolute;
        display: block;
        right: 18px;
        top: 10px;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
    }
    .result-content{
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .result-card{
        flex-wrap: wrap;
    }
    .icon-result {
        font-size: 40px;
    }
    .details-view{
        flex-wrap: wrap;
    }
    .result-card-two{
        flex-wrap: wrap;
    }
    .result-content{
        margin-top: 10px;
    }
}